canvas {
  border: 1px solid black;
}

#videoAction, #detectionAction{
 width: 250px;
  height: 50px;
  background: blueviolet;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
}
